body, html { font-family: 'Open Sans', sans-serif; margin:0; padding:0; font-size:18px; line-height:22px; -webkit-font-smoothing:antialiased !important; }

.site-width { margin:auto; max-width:800px; width:100%; }
.clearfix { clear:both; }

#menu { position:fixed; top:0; left:0; width:100%; z-index:2; box-sizing:border-box; padding:10px; background-color:#0fb50c; color:#FFF; box-shadow:0 4px 8px -6px #000;
	.start-btn { background-color:#cc0c0c; text-transform:uppercase; color:#FFF; font-weight:700; font-size:18px; padding:3px 5px; cursor:pointer; margin:2px; display:inline-block; border:none;
		&:hover { background-color:#af0f0f; }
	}
}

main { padding:10px; margin:40px 0 0;
	.continue-btn { display:none; margin-left:152px; font-size:18px; color:#FFF; font-weight:700; padding:10px 20px; border:none; text-transform:uppercase; background-color:green; outline:none; }
	.day { display:none; position:relative; z-index:1; }
	.direction-block { font-style:italic; box-sizing:border-box; padding-left:152px; clear:both; float:left; width:100%; display:none; }
	.role-script-block { clear:both; margin-bottom:10px; float:left; width:100%; display:none;
		.role { font-weight:700; width:140px; text-align:right; padding:8px 0; float:left; }
		.line { float:left; width:calc(100% - 172px); padding:8px 10px; box-sizing:border-box; margin:0 0 0 12px;
			.inline-direction { display:inline-block; margin:0 4px; font-style:italic; }
		}
		&[data-role="turtle"] .line { background-color:#edfcf1; }
		&[data-role="bruce"] .line { background-color:#E4EFFF; }
		&[data-role="wayne"] .line { background-color:#fff8e8; }
		&[data-role="white"] .line { background-color:#F9F9F9; }
		&[data-role="alex"] .line { background-color:#fed8ff; }
		&[data-role="octopus"] .line { background-color:#FFECE7; }
	}
}

@media screen and (min-width: 1100px) {
	body, html { font-size:28px; line-height:34px; }
	.start-btn, continue-btn { font-size:28px; }

}